.transactions-list {
  margin-block-end: 0.6rem;
  overflow: hidden;
  background: #ffffff;
  border: 1px solid #abadb3;

  table {
    border-collapse: collapse;
  }

  th,
  td {
    block-size: 3.1rem;
    inline-size: 12.5rem;
    border: 1px solid #abadb3;
    text-align: center;
  }
}

@media screen and (max-width: 900px) {
  .transactions-list {
    margin-block-end: 0;
  }
}
