$month-panel-arrow-margin: 0.1rem;
$balance-banner-padding: 0.3rem;
$instruments-pane-margin: 0.6rem;

.transactions {
  display: grid;
  grid-area: main;
  grid-template-columns: 16.9rem 1fr 10rem;
  grid-template-rows: 3rem auto;
  background: #f0f0f0;
}

.nave-pane {
  display: grid;
  grid-column: 1 / 4;
  &__month-panel {
    margin: auto;

    &--arrow,
    &--banner {
      float: left;
    }

    &--arrow {
      box-sizing: border-box;
      block-size: 1.8rem;
      inline-size: 1.6rem;
      margin-inline-start: $month-panel-arrow-margin;
      margin-inline-end: $month-panel-arrow-margin;
      padding-block-start: 0.2rem;
      padding-block-end: 0.4rem;
      padding-inline-start: 0.1rem;
      padding-inline-end: 0.3rem;
      color: #647cab;
      background: #e1e1e1;
      border: 1px solid #adadad;
      font-size: 1.3rem;
      line-height: 0;
      cursor: pointer;
    }

    &--arrow:nth-of-type(2) {
      padding-inline-start: 0.4rem;
    }

    &--banner {
      box-sizing: border-box;
      block-size: 1.8rem;
      inline-size: 10rem;
      background: #e1e1e1;
      border: 1px solid #adadad;
      font-size: 0.9rem;
      line-height: 1.8rem;
      text-align: center;
    }
  }
}

@media screen and (max-width: 900px) {
  .transactions {
    grid-template-rows: 3rem auto 24rem auto;
  }

  .nave-pane,
  .balance-pane,
  .transactions-list,
  .instruments-pane {
    grid-column: 1 / 4;
  }
}

/* BALANCE PANE */

.balance-pane {
  block-size: 3rem;

  &__banner {
    box-sizing: border-box;
    block-size: 2.5rem;
    inline-size: 15.3rem;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: auto;
    margin-inline-end: auto;
    padding-inline-start: $balance-banner-padding;
    padding-inline-end: $balance-banner-padding;
    background: #ffffff;
  }

  &__label,
  &__sum {
    block-size: 2.5rem;
    line-height: 2.5rem;
    white-space: nowrap;
  }

  &__sum {
    float: right;
  }
}

/* INSTRUMENTS PANE */

.instruments-pane {
  display: grid;
}

.add-button {
  block-size: 1.6rem;
  inline-size: 9rem;
  margin-inline-start: auto;
  margin-inline-end: auto;
  margin-block-start: 0;

  &:hover {
    cursor: pointer;
  }
}

@media screen and (max-width: 900px) {
  .instruments-pane {
    margin-block-start: $instruments-pane-margin;
    margin-block-end: $instruments-pane-margin;
  }

  .add-button {
    margin: auto;
  }
}
