.transactions {
  background: #f0f0f0;
  display: grid;
  grid-template-columns: 270px 1fr 160px;
  grid-template-rows: auto auto 1fr;
}

@media screen and (max-width: 900px) {
  .transactions {
    & div {
      grid-column: 1 / 4;
    }
  }
}
