.add-transaction-modal {
  margin-block-start: 8rem;
  margin-inline-start: auto;
  margin-inline-end: auto;
  inline-size: 34rem;
  block-size: 34rem;
  background-color: #f0f0f0;
  border: 1px solid #aaaaaa;
  font-size: 0.8rem;

  &__header {
    padding-block-start: 0.3rem;
    padding-block-end: 0.4rem;
    padding-inline-start: 0.7rem;
    background-color: #ffffff;
  }
}
