.add-transaction-modal {
  margin-block-start: 8rem;
  margin-inline-start: auto;
  margin-inline-end: auto;
  inline-size: 15rem;
  block-size: 11rem;
  background-color: #f0f0f0;
  border: 1px solid #aaaaaa;
  font-size: 0.8rem;

  &__header {
    padding-block-start: 0.3rem;
    padding-block-end: 0.4rem;
    padding-inline-start: 0.7rem;
    background-color: #ffffff;
  }
}

.add-transaction-form {
  &__input {
    position: relative;
    float: right;
    margin-block-start: 1rem;
    margin-inline-end: 1rem;

    & input {
      inline-size: 8rem;
      margin-inline-start: 0.5rem;
    }

    & #text-control__error {
      position: absolute;
      right: 0.7rem;
      margin-block-start: 0;
      margin-block-end: 0;
      text-align: right;
      color: #ff0000;
      font-size: 0.7rem;
    }
  }

  &__footer {
    clear: both;
    float: right;
    margin-block-start: 2rem;
    margin-inline-end: 1rem;

    & button {
      inline-size: 5rem;

      &:hover {
        cursor: pointer;
      }
    }
  }

  &__submit-button {
    margin-inline-end: 0.5rem;
  }
}
