.month-banner {
  background: #e1e1e1;
  block-size: 1.8rem;
  border: 1px solid #adadad;
  box-sizing: border-box;
  font-size: 0.9rem;
  inline-size: 10rem;
  line-height: 1.8rem;
  margin: auto;
  text-align: center;
}
