.site-navigation {
  block-size: 100%;
  & a {
    color: #000000;
    block-size: 100%;
    box-sizing: border-box;
    display: inline-block;
    float: left;
    padding-inline-start: 0.2rem;
    padding-inline-end: 0.2rem;
    text-decoration: none;
    line-height: 3.2rem;

    &:hover {
      background: #c6d3ef;
      border: 1px solid #7495d8;
      box-sizing: border-box;
    }
  }
}
