.balance-pane {
  block-size: 3rem;
}

.balance-banner {
  //todo display: flex;
  //todo justify-content: space-between;
  background: #ffffff;
  box-sizing: border-box;
  height: 40px;
  inline-size: 15.3rem;
  margin: 0 auto;
  padding-inline-start: 5px;
  padding-inline-end: 5px;

  & span {
    height: 40px;
    line-height: 40px;
    white-space: nowrap;
  }
}

.balance-sum {
  float: right;
}
