$border-color: #d7d7d7;

body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

#root {
  border-left: 1px solid $border-color;
  border-right: 1px solid $border-color;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: 4rem auto 3rem;
  grid-template-areas: "header" "main" "footer";
  margin: auto;
  max-inline-size: 1200px;
  min-block-size: 100vh;
}
