body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

#root {
  min-height: 100vh;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "header" "main" "footer";
}

//todo mobile view 927px (768px or 992px)
