body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

#root {
  border-left: 1px solid #d7d7d7;
  border-right: 1px solid #d7d7d7;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "header" "main" "footer";
  margin: auto;
  max-inline-size: 1200px;
  min-block-size: 100vh;
}
