.add-modal {
  margin-block-start: 8rem;
  margin-inline-start: auto;
  margin-inline-end: auto;
  inline-size: 34rem;
  block-size: 35rem;
  background-color: #f0f0f0;
  border: 1px solid #aaaaaa;
}
